<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Messages')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<br><br><br><br>
<form th:method="GET" th:action="@{/room/create}">
    <input type="text" name="chatroom-name" placeholder="Chatroom Name">
    <button type="submit">Create Room</button>
</form>
<form th:method="GET" th:action="@{/room/join}">
    <input type="text" name="chatroom-name" placeholder="Chatroom Name">
    <button type="submit">Join Room</button>
</form>

<div th:replace="partials :: scripts"></div>
</body>
</html>