<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="partials :: headFragment('Chat Room')"></div>
</head>
<body>
<nav th:replace="partials :: siteBar"></nav>
<br><br><br><br>
<div hidden th:text="${room.id}"></div>
<h1>Chat Room: <span th:text="${room.name}"></span></h1>

<div id="message-container"></div>
<input type="text">
<button>Send</button>

<div th:replace="partials :: scripts"></div>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>